---
const {title}=Astro.props
const {subtitel}=Astro.props
const {date}=Astro.props
const {time}=Astro.props
const {link}=Astro.props
---
<a href={link}>
    <div class="flex justify-between mx-10 border-solid border-4 mb-9 border-sky-600 rounded-2xl bg-teal-100 ">
  
    
      <h1 class="text-5xl font-bold">{title}</h1>
  
    <div style="margin-top: 102px; "class="text-3xl font-bold">
      <h1>
        {subtitel}
      </h1>
      <h1 class="flex justify-center">
        click to check out
      </h1>
    </div>
    
    <div class="text-4xl">
      <h1>
        <h1>Time:
            {date}
          <h1>{time}</h1>
        </h1>
      </h1>
    </div>
    </div>
    </a>